@import 'common';

body,
h1 {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

body {
  color: $fontMainLight;
  background-color: $bodyBgLight;
}

body.dark {
  color: $fontMainDark;
  background-color: $bodyBgDark;
}

a {
  text-decoration: none;
  @include linkColor($linkColor);
}

body.dark a {
  @include linkColor($darkLinkColor);
}

#root {
  max-width: 600px;
  padding: 10px 10px 75px;
  position: relative;
  margin: 0 auto;

  @include tablet {
    padding-bottom: 10px;
  }
}
