@import 'common';

.chart-container {
  margin-top: 1rem;
}

.preview-container,
.legend-container {
  margin-top: 1rem;
}

.legend-container {
  min-height: 100px;
}

.plot-area-container {
  position: relative;
  overflow: hidden;
}

.plot-container {
  shape-rendering: auto;
}

.plot {
  opacity: 1;
  transition: opacity 0.2s ease;
  &.hidden {
    opacity: 0;
  }
}

.plot-line {
  fill: none;
  vector-effect: non-scaling-stroke;
  stroke-width: 2px;
}

.preview-container .plot-line {
  stroke-width: 1px;
}

.axis-labels {
  .label {
    shape-rendering: crispEdges;
    stroke-width: 1px;
    stroke: $lightgrey;
  }

  text {
    font-size: 16px;
    fill: $grey;
  }

  &.x .value {
    transition: opacity 0.3s ease;
  }
}

body.dark .axis-labels .label {
  stroke: $darkgrey;
}

.preview-container {
  position: relative;
}

.preview-window {
  $previewShadowColor: rgba($lightgrey, 0.5);
  $previewEdgeColor: darken($previewShadowColor, 10);
  box-sizing: border-box;

  position: absolute;
  top: 0;
  bottom: 0;

  left: 0;
  right: 0;

  .shadow {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $previewShadowColor;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .window {
    $edgeWidth: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    border: 2px solid $previewEdgeColor;
    border-left: $edgeWidth solid $previewEdgeColor;
    border-right: $edgeWidth solid $previewEdgeColor;
    cursor: grab;

    &.dragging {
      cursor: grabbing;
    }

    .edges-container {
      position: relative;
      width: 100%;
      height: 100%;

      .edge {
        position: absolute;
        top: 0;
        bottom: 0;
        width: $edgeWidth;
        cursor: col-resize;
        user-select: none;
        padding: 0 8px;

        &.left {
          left: -$edgeWidth;
        }
        &.right {
          right: -$edgeWidth;
        }
      }
    }
  }
}

body.dark .preview-window {
  .shadow {
    background-color: rgba(darken($bodyBgDark, 5), 0.5);
  }

  .window {
    border-color: rgba($grey, 0.5);
  }
}

.legend-container {
  .controls-list .control {
    $controlHeight: 40px;
    $controlBorderR: $controlHeight/2;
    $controlBorderW: 1px;
    $controlVPadding: 6px;
    $controlHPadding: $controlBorderR;
    $controlLineHeight: $controlHeight - 2 * $controlVPadding - 2 *
      $controlBorderW;

    display: inline-block;
    box-sizing: border-box;
    height: $controlHeight;
    line-height: $controlLineHeight;
    padding: $controlVPadding $controlHPadding;
    border-radius: $controlBorderR;

    margin-top: 0.5rem;
    margin-right: $controlHPadding;
    border: $controlBorderW solid $lightgrey;
    cursor: pointer;
    user-select: none;

    .checkbox {
      display: inline-block;
      box-sizing: border-box;
      width: $controlLineHeight;
      height: $controlLineHeight;
      border-radius: 50%;
      position: relative;
      left: $controlVPadding - $controlBorderR;
      border: 2px solid;

      color: $bodyBgLight;
      background-color: $bodyBgLight;
      transition: background-color 0.3s ease;

      .icon {
        transition: opacity 0.3s ease;
        opacity: 0;
      }

      &.checked .icon {
        opacity: 1;
      }
    }

    .label {
      display: inline-block;
      line-height: $controlLineHeight;
      vertical-align: top;
      margin-left: 2 * $controlVPadding -$controlBorderR;
      font-weight: 100;
    }
  }
}

body.dark .legend-container {
  .controls-list .control {
    border-color: $darkgrey;

    .checkbox {
      background-color: $bodyBgDark;
    }
  }
}

.icon {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  padding: 4px;
}

.plots-inspector {
  .inspector-line {
    shape-rendering: crispEdges;
    stroke: $lightgrey;
  }

  .inspector-point {
    stroke-width: 2px;
    fill: $bodyBgLight;
  }
}

body.dark .plots-inspector {
  .inspector-line {
    stroke: $darkgrey;
  }

  .inspector-point {
    fill: $bodyBgDark;
  }
}

.inspector-tooltip {
  box-sizing: border-box;
  white-space: nowrap;
  position: absolute;
  top: 1px;
  margin: 1px;
  background: $bodyBgLight;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 0 1px 0 $grey;

  .values {
    white-space: nowrap;
    margin: 0.5rem 0;
    .set {
      display: inline-block;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      &.hidden {
        display: none;
      }

      .name {
        font-size: 0.8rem;
        font-weight: 100;
      }
    }
  }
}

body.dark .inspector-tooltip {
  background-color: saturate($bodyBgDark, 5);
  box-shadow: 0 0 1px 0 #000;
}
