$bodyBgLight: #fff;
$bodyBgDark: rgb(36, 47, 61);

$grey: rgb(165, 175, 182);
$lightgrey: rgb(221, 234, 242);
$darkgrey: rgb(51, 64, 79);

$fontMainLight: rgb(67, 72, 75);
$fontMainDark: #fff;

$linkColor: rgb(41, 145, 225);
$darkLinkColor: rgb(62, 171, 241);

$tablet-width: 768px;

@mixin linkColor($color) {
  color: $color;
  &:hover,
  &:active,
  &:focus {
    color: darken($color, 15);
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
