@import 'common';

.theme-switcher {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 10px 40px;
  background-color: $bodyBgLight;
  z-index: 1;

  text-align: center;
  font-size: 1.25rem;

  @include tablet {
    position: absolute;
    top: 10px;
    right: 0;
    bottom: auto;
    left: auto;
    padding: 15px 10px;

    text-align: left;
    font-size: 1rem;
  }
}

body.dark .theme-switcher {
  background-color: $bodyBgDark;
}
